

<div class="search-container">
  <div>
      <input
      #locationSearchElem
      (keyup.enter)="fetchNewLocationData(locationSearchElem, true)"
      (blur)="fetchNewLocationData(locationSearchElem)"
      placeholder="Enter new location"
      class="search-input"
      type="text">
  </div>


  <div class="div"><p class="search">Search</p></div>

  <div class="search-container-query-buttons">
    <p (click)="setQuery('lounge')" [ngClass]="{'query-active': query === 'lounge'}">Lounge</p>
    <p (click)="setQuery('coffee')" [ngClass]="{'query-active': query === 'coffee'}">Coffee</p>
    <p (click)="setQuery('cafe')" [ngClass]="{'query-active': query === 'cafe'}">Café</p>
    <p (click)="setQuery('starbucks')" [ngClass]="{'query-active': query === 'starbucks'}">Starbucks</p>
    <p (click)="setQuery('books')" [ngClass]="{'query-active': query === 'books'}">Books</p>
  </div>

</div>

<div class="map-and-results-container">
    <div #mainMap class="main-map"></div>

    <div class="results-container">
      <p
        *ngIf="!filteredPlacesByLateHours.length && !alertActive && !timeout"
        class="loading">Loading Results...
      </p>
      <p
        *ngIf="alertActive || timeout"
        class="loading">No Results Found.
      </p>
      <ng-container *ngIf="filteredPlacesByLateHours.length">
          <div [style.backgroundColor]="currentResultClickedPlaceId === location.place_id ? 'yellow' : 'white'"
           (click)="selectResult(location.place_id)"
           class="location location-{{location.place_id}}"
           *ngFor="let location of filteredPlacesByLateHours; let i = index" >
              <div class="location-text">
                  <p class="location-text-name">{{ location.name }}</p>
                  <p class="location-text-rating">Rating: {{ location.rating }}</p>
                  <p class="location-text-address">{{ location.formatted_address }}</p>
                  <a *ngIf="location.website" target="_blank" href="{{ location.website }}">
                    <p class="location-text-website">Visit Website</p>
                  </a>
                  <p *ngIf="!location.website" class="location-text-website">No Website Found</p>
                  <!-- <p class="location-text-hours">Hours: </p> -->
                  <!-- <p *ngFor="let daysHours of location.opening_hours.weekday_text">{{ daysHours }}</p> -->
              </div>
              <div class="location-image">
                  <img
                    class="location-image"
                    [src]="locationPhotoUrlsAndIds[location.id] ?
                      locationPhotoUrlsAndIds[location.id] :
                      './../../assets/images/coffee-icon.png'"
                    alt="location image">
              </div>
          </div>
      </ng-container>

    </div>
</div>




