
.map-and-results-container {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;

  & .search-input {
    display: block;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    width: 49vw;
    font-size: 3vw;
    height: 5vw;
    margin-top: 2vw;
    text-align: center;
  }

  & .search {
    display: inline-block;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    margin-left: 1vw;
    margin-top: 2vw;
    text-decoration: none;
    background: rgb(238, 43, 238);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 3vw;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: blue;
    }
  }

  .search-container-query-buttons {
    transform: translateY(50%);
    margin-left: 2vw;

    & p {
      display: inline-block;
      background-color: rgb(238, 43, 238);
      font-size: 1.5vw;
      padding: 0.5vw;
      border-radius: 1rem;
      // margin: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;

      &:hover {
        background-color: blue;
        color: white;
        cursor: pointer;
      }
    }
  }
}
.query-active {
  background: rgba(0, 0, 255, 0.938) !important;
  color: white;
}

.main-map {
  width: 50vw;
  height: 40vw;
}

.results-container {
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  height: 40vw;
  width: 50vw;
  border: solid blue 0.25vw;
  overflow: scroll;
  position: relative;

  & .loading {
    font-size: 2vw;
    color: white;
  }

  & .location {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 0.25vw;

    &-text {
      margin-left: 1vw;

      &-name {
        font-size: 1.25vw;
        font-weight: bold;
      }
      &-rating {
        font-size: 1vw;
      }
      &-address {
        font-size: 1vw;
      }
      &-hours {
        font-size: 1vw;
      }
      &-website {
        font-size: 1vw;
        display: inline-block;
        text-decoration: underline;

        &:hover {
          color: rgb(238, 43, 238);
        }
      }
    }

    &-image {
      width: 10vw;
      // padding: 0.5vw;

    }
  }
}

