<div class="late-night title"></div>
<div class="lounge-locator title"></div>

<div class="search-container">
  <div>
      <input
      #locationSearchElem
      (keyup.enter)="fetchNewLocationData(locationSearchElem, true)"
      (blur)="fetchNewLocationData(locationSearchElem)"
      placeholder="Enter new location"
      class="search-input"
      type="text">
  </div>


  <div class="div"><p class="search">Search</p></div>

</div>


<div #mainMap class="main-map"></div>

<div class="results-container">
  <div *ngFor="let location of filteredPlacesByLateHours; let i = index" class="location">
    <p class="location-name">Name: {{ location.name }}</p>
    <p class="location-rating">Rating: {{ location.rating }}</p>
    <p class="location-address">{{ location.formatted_address }}</p>
    <p class="location-hours">Hours: </p>
    <p *ngFor="let daysHours of location.opening_hours.weekday_text">{{ daysHours }}</p>
    <p class="location-website">Website: <a target="_blank" href="{{ location.website }}">{{ location.website }}</a></p>
    <img class="location-image" [src]="locationPhotoUrlsAndIds[location.id]" alt="location image">
  </div>
</div>


