.title {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
.late-night {
  width: 50vw;
  height: 10vw;
  margin-top: 8vw;
  background-image: url("./../../assets/images/late-night2.png");
}
.lounge-locator {
  width: 70vw;
  height: 10vw;
  background-image: url("./../../assets/images/lounge-locator2.png");
}

.search-input {
  display: block;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  width: 49vw;
  font-size: 3vw;
  height: 5vw;
  margin-top: 2vw;
  text-align: center;
}

.search {
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin-top: 3vw;
  text-decoration: none;
  background: rgb(238, 43, 238);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3vw;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: blue;
  }
}
